
.ui-more {
    border-top: 1px solid #C1C1C1;
    -webkit-box-shadow: 1px 0 0 rgba(216,216,216,.21) inset,0 1px 0 rgba(216,216,216,.21) inset,-1px 0 0 rgba(216,216,216,.21) inset,0 1px 0 rgba(255,255,255,.75),0 -1px 0 rgba(255,255,255,.75);
    background: #f3f3f3;
    padding-bottom: 5px;
}

.ui-more-links {
    height: 42px;
    background: #e4e4e4;
}

.ui-more-links a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #36355a;
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .ui-more-links a {
        font-size: 16px;
    }
}
