body {
}
#wrapper {
    position:relative;
    height:600px;
}
#box {
    width:100px;
    height:50px;
    background:orange;
    position:absolute;
    z-index:10;
}
header {
    background:#ccc;
    padding:10px;
    margin-bottom:10px;
}
textarea{
    width:200px;
    height:200px;
}
button {
    vertical-align:top;
    width:100px;
    height:50px;
    font-size:20px;
}
.base {
    background:#ff4500;
}
.base input {
    margin-right:10px;
}