html, body{height:100%;font-size:12px;}
		.wrap{padding-top:20px;}
		fieldset{border:1px solid #000;width:300px;margin:20px auto;padding:10px;}
		fieldset p{text-align:center;}
		legend{font:700 16px/1.2 "Comic Sans",cursive;}
		blockquote{color:#FF4500;}