header {
    padding:10px;
    background:orange;
    margin-bottom:10px;
}
header input {
    margin-left:20px;
}
header button {
    width:100px;
    height:50px;
    font-size:20px;
}
#box1 {
    margin:2px;
    position:absolute;
    left:10px;
    top:200px;
    width:100px;
    height:30px;
    z-index:33;
}
#box1 .ui-dropmenu {
    width: 90px;
    height:40px;
}
#box1 .ui-dropmenu-arrow {
    right:5px;
}
#box1 .ui-dropmenu-button,#box2 .ui-dropmenu-button {
    height:30px;
    line-height:30px;
}
#box1 .ui-dropmenu-content {
    border:0;
    width: 80px;
    padding:0 6px 6px 6px;
    -webkit-background-size:cover;
    border-radius:0;
    -webkit-box-shadow:none;
}

#box1 .ui-dropmenu-title,#box2 .ui-dropmenu-title {
    margin-left:-8px;
}
#box1 .ui-dropmenu-arrow,#box2 .ui-dropmenu-arrow{
    right:7px;
    top:13px;
}
#box1 .ui-dropmenu-content-arrow{
    background:none;
}