
.ui-toolbar-wrap {
    border: 1px solid #135CBE;
    border-width: 1px 0;
    background: #2773dc;
    color: #fff;
}

.ui-toolbar-backbtn {
    border: 1px solid #135cbe;
    background: #2d7ded;
    border-width: 1px 1px 1px 0;
}
.ui-toolbar-backbtn:before {
    border-color:transparent #135cbe transparent transparent;
}

.ui-toolbar-backbtn:after {
    border-color: transparent #2d7ded transparent transparent;
}

.ui-toolbar .ui-toolbar-backbtn.ui-state-hover {
    background-color: #135cbe;
    border-color: #114fa2;
}
.ui-toolbar .ui-toolbar-backbtn.ui-state-hover:after {
    border-color: transparent #135cbe transparent transparent;
}
.ui-toolbar .ui-toolbar-backbtn.ui-state-hover:before {
    border-color: transparent #114fa2 transparent transparent;
}