/** 一级导航样式 */
.ui-navigator {
    display: -webkit-box;
    border-top: 1px solid #2468c9;
    border-bottom: 1px solid #0145a5;
    background:#2773dc;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-navigator .ui-navigator-list, .ui-navigator .ui-navigator-fix {
    display: -webkit-box;
    -webkit-box-flex: 1;
}

.ui-navigator .ui-navigator-list li{
    -webkit-box-flex: 1;
}

.ui-navigator .ui-navigator-list li a, .ui-navigator .ui-navigator-fix{
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 0 15px;
    height: 42px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    font-family: "微软雅黑" "黑体" ;
    font-weight: bold;
    text-align: center;
}

.ui-navigator .ui-navigator-list li a.cur, .ui-navigator .ui-navigator-fix.cur{
    background:#0c4da8;
}
.cssloaded{
    width: 20px
}
