.ui-navigator .ui-navigator-wrapper{
    -webkit-box-flex: 1;
    border-right: 1px solid rgba(36, 105, 201, 1);
    height: 42px;
}

.ui-navigator .ui-navigator-list, .ui-navigator .ui-navigator-fix {
    display: -webkit-box;
    -webkit-box-flex: 0;      /*去掉-webkit-box-flex属性，可滑动tab不平分*/
}

.ui-navigator .ui-navigator-list li{
    -webkit-box-flex: 0;
}

.ui-navigator .ui-navigator-shadowr, .ui-navigator .ui-navigator-shadowl {
    /*gmu-image-self*/background: url(nav.png) right -44px no-repeat;
}

.ui-navigator .ui-navigator-shadowl{
    /*gmu-image-self*/background-position: 0 0;
}

.ui-navigator .ui-navigator-shadowall {
    /*gmu-image-self*/background: url(nav.png) 0 0 no-repeat, url(nav.png) right -44px no-repeat;
}
.cssloaded{
    width: 20px
}
