.ui-gotop{
    position: fixed;
    display: none;
	width: 40px;
	height: 40px;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	cursor:pointer;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 5px #9c9c9c;
	opacity: 0.9;
    background:#454545 url(gotop_2.png) no-repeat center center;
    -webkit-background-size: 18px 15px;
}
.cssloaded{
    width: 20px
}