.ui-gotop{
    position: fixed;
    display: none;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	cursor:pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-gotop div {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px #9c9c9c;
    opacity: 0.9;
    background:#454545 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAeCAYAAACmPacqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGfSURBVFhH7ZY9S8NQFEADguAkdBJcBcFV8AcIQsHJqeDUSfAHFJycBEFwEgqurk6uQn+A4OQkBJyEQiFt+pU2bdLruQ4Sq9Ym5iUdDJwQHu/de+5NXhJrMpkUoSE5HppfPSxOLzl6fKRWDysMQ5cLyRv1WCyZIAhsrCRv1MMaj8d7XDznKaP51cP6P0x1gBaXaPG17/tlUznmijsajSqISISzuRamPQmBfboRICRRGCulnWtmvOFwuAUuiWUaxj3ktjMR4k1dQMD+TiQy9trr9daMCvEhWaLyGshvDAaDB+YvGxPyPO+KJBKDGyMy/X7/CBlJQCVVITqxi4yfQERYF/D8FFMRQmSDgA3QwElx2+325p+Ems3mKlU9gaSArfESCenO6Xa7dylIRAupadzYQoicgxigGkvGdd3DTqcjBjmeSwiRHR4236CIED8gz+yfKXbLOpPqTNYFpvl5h/HNWUHgMQOJaJE2xRe+3DIGb0GyptVq3X/aYQicZi0xle/yvTuYHYAsAGWLt6K9ACKCh6MyJ1AHHcgFx3Ea5L54AwbFBiH9RbtaAAAAAElFTkSuQmCC) no-repeat center center;
    -webkit-background-size: 18px 15px;
}
