.ui-helper-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
}
.ui-button{
    display: inline-block;
    padding: 7px 9px;
    margin: 2px;
    border: 1px solid #D2D2D2;
    -webkit-border-radius:  2px;
    -moz-border-radius:  2px;
    border-radius:  2px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.0;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.ui-button.white {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: black;
}
button.ui-button, input.ui-button {
    -webkit-appearance:none;
}

.ui-button.ui-state-disable {
    color:#ababab;
    background-color:#e6e6e6 ;
    border-color: #d2d2d2;
    cursor: default;
}

.ui-button.ui-state-active {
    color:#fff;
    background-color: #2d7ded;
    border-color:#135cbe;
}

.ui-button.ui-state-active.white {
    color:#fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-color:black;
}

.ui-button.ui-state-hover{
    background-color: #d9d9d9;
    border-color: #B3B3B3;
}

.ui-button.ui-state-hover.white{
    background-color: rgba(0, 0, 0, 0.6);
    border-color:black;
}

.ui-button-text-icon {
    position: relative;
}

.ui-icon {
    background-image: url(icons-36-black.png);
    -moz-background-size: 776px 18px;
    -o-background-size: 776px 18px;
    -webkit-background-size: 776px 18px;
    background-size: 776px 18px;
    width:18px;
    height: 18px;
    display: inline-block;
}
.ui-button.white .ui-icon, .ui-icon.white {
    background-image: url(icons-36-white.png);
}

.ui-button-text-icon .ui-icon {
    position: absolute;
}
.ui-button-icon-pos-left {
    padding-left: 30px;
}
.ui-button-icon-pos-left .ui-icon {
    left: 5px;
    top: 50%;
    margin-top: -9px;
}

.ui-button-icon-pos-right {
    padding-right: 30px;
}
.ui-button-icon-pos-right .ui-icon {
    right: 5px;
    top: 50%;
    margin-top: -9px;
}

.ui-button-icon-pos-top {
    padding-top: 30px;
}
.ui-button-icon-pos-top .ui-icon {
    top: 5px;
    left: 50%;
    margin-left: -9px;
}

.ui-button-icon-pos-bottom {
    padding-bottom: 30px;
}
.ui-button-icon-pos-bottom .ui-icon {
    bottom: 5px;
    left: 50%;
    margin-left: -9px;
}
.ui-button-icon-only .ui-button-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
}

/* plus minus */
.ui-icon-plus {
    background-position: 	-0 50%;
}
.ui-icon-minus {
    background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
    background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
    background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
    background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
    background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
    background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
    background-position: 	-252px 50%;
}
.ui-icon-gear {
    background-position: 	-288px 50%;
}
.ui-icon-refresh {
    background-position: 	-324px 50%;
}
.ui-icon-forward {
    background-position: 	-360px 50%;
}
.ui-icon-back {
    background-position: 	-396px 50%;
}
.ui-icon-grid {
    background-position: 	-432px 50%;
}
.ui-icon-star {
    background-position: 	-468px 50%;
}
.ui-icon-alert {
    background-position: 	-504px 50%;
}
.ui-icon-info {
    background-position: 	-540px 50%;
}
.ui-icon-home {
    background-position: 	-576px 50%;
}
.ui-icon-search {
    background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
    background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
    background-position: 	-648px 50%;
}
.ui-icon-radio-off {
    background-position: 	-756px 50%;
}
.ui-icon-radio-on {
    background-position: 	-720px 50%;
}

.cssloaded{
    width: 20px
}