.ui-toolbar {
    width:100%;
    z-index: 999
}

.ui-toolbar-wrap {
    position: relative;
    height: 40px;
}
.ui-toolbar-wrap a {
    text-decoration: none;
}
.ui-toolbar-placeholder {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
    position: relative;
}

.ui-toolbar-title {
    text-align: center;
    height: 100%;
    line-height: 40px;
}

.ui-toolbar-backbtn {
    line-height: 29px;
    height: 30px;
    display: block;
    position: relative;
    float: left;
    margin: 5px 0 0 20px;
    cursor: pointer;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding: 0 8px 0 6px;
    -webkit-user-select: none;
    user-select: none;
}

.ui-toolbar-backbtn:before, .ui-toolbar-backbtn:after {
    content: '\0020';
    border-width:15px 8px 15px 0;
    border-style:solid;
    position: absolute;
    left: -8px;
    top: -1px;
    width:0;
    height:0;
    display: block;
}
.ui-toolbar-backbtn:after {
    left: -7px;
}

.ui-toolbar-left, .ui-toolbar-right {
    position: absolute;
    top:0;
    height: 100%;
}

.ui-toolbar-left {
    left: 0;
}
.ui-toolbar-right {
    top:3px;
    right: 0;
}
.ui-toolbar-left > * {
    display: inline-block;
    float: left;
    margin-right:5px;
    text-align: center;
}
.ui-toolbar-right > * {
    display: inline-block;
    float: right;
    margin-right:10px;
    text-align: center;
}

/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-toolbar-wrap {
        height: 48px;
    }
    .ui-toolbar-title {
        font-size: 16px;
        line-height: 48px;
    }
    .ui-toolbar-backbtn {
        line-height: 35px;
        height: 36px;
        margin: 6px 0 0 22px;
        padding: 0 0.6em 0 0.5em;
    }
    .ui-toolbar-backbtn:before, .ui-toolbar-backbtn:after {
        content: '\0020';
        border-width:18px 9px 18px 0;
        left: -8px;
        top: -1px;
        width:0;
        height:0;
        display: block;
    }
    .ui-toolbar-backbtn:after {
        left: -7px;
    }
}


