
.ui-more {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    display: none;
}

.ui-more-arrow {
    position: absolute;
    top: -8px;
    right: 22px;
    width: 12px;
    height: 8px;
    background: url(ui-more-icon.png) no-repeat;
    -webkit-background-size: 12px 8px;
}

.ui-more-links {
    display: -webkit-box;
    -webkit-box-flex: 1;
}

.ui-more-links:last-child {
    border-bottom: 1px solid #CECECE;
}

.ui-more-links a {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

