.ui-header {
    position: relative;
    border-top: 1px solid white;
    background: #F3F3F3;
    margin-top:80px;
}
.ui-header .nav{
    padding: 6px 6px 7px 5px;
}
.ui-header .nav .tab{
    display: inline-block;
    -webkit-box-sizing: border-box;
    padding: 3px 5px;
    color: #46446d;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.ui-header .nav .tab a {
    font-size: 15px;
}
.ui-header .nav .tab.on{
    border: 1px solid #7691b8;
    -webkit-border-radius: 2px;
    background: #bdd8ff;
    color: #084fb2;
}
.ui-header .logo{
    width: 71px;
    height: 23px;
    vertical-align: -3px;
    background: url(logo.png) center no-repeat;
    background-size: 71px 23px;
    -webkit-background-size: 71px 23px;
}
.ui-header .n-tabs {
    width: auto;
    display: -webkit-box;
    -webkit-box-pack: end;
    position: absolute;
    top: 7px;
    right: 12px;
}
.ui-header .more_btn {
    position:relative;
    padding-right: 10px;
}
.ui-header .more_btn span {
    position: absolute;
    top: 11px;
    right: -4px;
    width: 0px;
    height: 0px;
    border-bottom: none;
    border-top: 4px solid #46446d;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.ui-header .more_btn span.on {
    border-top:none;
    border-bottom:6px solid #0058D2;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
}
.ui-header .n-tabs .ui-button {
    -webkit-box-sizing: border-box;
    padding: 3px 5px;
    color: #46446D;
    text-align: center;
    text-decoration: none;
    border:none;
    font-size:15px;
    background:none;
    -webkit-borer-radius:0;
}

