
#appframe {
    height: 440px;
    line-height: 1.8;
    font-size: 16px;
}
#test p {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.test {
    background: rgb(245,245,245);
    padding: 12px;
}
h2{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
}
p {
    text-indent: 2em;
}
img {
    display: block;
    margin: 0 auto;
}