
.ui-add2desktop {
    position: fixed;
    bottom: 12px;
    display: none;
    left: 50%;
    width:178px;
    height: 55px;
    padding: 7px 0 8px 9px;
    margin-left: -92px;
    z-index: 999;
    color: #fff;
    background: #494949;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.ui-add2desktop img {
    display: block;
    height: 55px;
    width: 55px;
    padding-right: 3px;
    float: left;
}
.ui-add2desktop p{
    position: relative;
    right: -3px;
    padding: 0;
    margin: 0;
    font-size:13px;
    width: 120px;
    float: right;
    line-height: 22px;
    padding-top:6px;
    font-weight: bold;
}

.ui-add2desktop-icon-new {
    margin:0 2px;
    display: inline-block;
    height: 15px;
    width:14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAfCAYAAAD0ma06AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHISURBVEhL3ZTPR0RRFMeHaBVDRKuIVtGqVauI6A9oNatoFW1bRdu2EW2HtkOrVkO0HSKiVQzD0CriEZFXn5P7ct9999d77yZ6HGPuPd/zuefce06nk+DL83yAbSUIFRfikw/gO9aLU7T0EmDxAT1qGS4s14Eq2/OwqoWHCVTQAb+zLcK6pTagWrulxPPJoR6gPKYH9peSQn1AVd4J4LVoKKIugl3sDBti0xDEsv+KbtMLxWEDu5YeawCoSIiTWYFy0dhVCojRo9MKUC4Y2NMvwMbEXSkBpW9YHKWGEe8OW6xkB+ygLgzNfaAthuzPue7uJiAeATjGtvUTuzT4XXqnDQ5jx5jqs7fsetIOzWmw7wg6MV7VS7B3iGpoPtAcBmHiID1XiFXvrccINc2bDAhdw/8TZww2e5o4XBIVSY2vSjUEJntmK8wUC6otZNjK0HXemXlifC+wVTOz4vAlfxwf9YYUodxlTCldPkVmVqDKJsNpR8u02qSRJzBhtpL+PDLpsci4VjcCdW0tYt5hyef/A51zLyJ1rmShdkkR9fU5GcH5dhGN0laY3jv0De+me38LpAxZ05PH6CS+meEei88x4ro+Ehfb14FfXZdy7jMqRWIAAAAASUVORK5CYII=) no-repeat;
    -webkit-background-size:14px 15px;
}

.ui-add2desktop-icon-old {
    margin:0 2px;
    display: inline-block;
    height: 15px;
    width:14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACdSURBVEhL7ZZLCoAwDERzYG8gCG5deU4PUOimmgjdNYUnfhYmkE0dZmoyjIqAKqUse6P0fAU0DKrk2RHNjAmgW4L1DNAwaIjaBNjMADrGG+N17aIpM2qnnknuemaJpj3JW4L14iYsd70F4fmR6Ac7TWakQXsjO7mKNR3TA8kr3f0jIgKOwI/AJ35xsf8xkpde55fjqVLy2fnDn4nmAff3bhghmU6ZAAAAAElFTkSuQmCC) no-repeat;
    -webkit-background-size:14px 15px;
}
.ui-add2desktop-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ui-add2desktop-close b {
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 10px;
    height: 3px;
    width: 12px;
    background: #fff;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
}

.ui-add2desktop-close b:after{
    content:'';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 12px;
    background: #fff;
    border-radius: 2px;
    -webkit-transform: rotate(90deg);
}
.ui-add2desktop-arrow {
    width:18px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    bottom: -10px;
    left:50%;
    margin-left: -8px;
}
.ui-add2desktop-arrow b{
    display: inline-block;
    position: absolute;
    top:-5px;
    left:3px;
    width:10px;
    height: 10px;
    background: #494949;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate(45deg);
}